.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 32px;
}

.switchInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchSlider {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 14px;
  background-color: #9e9e9e;
  border-radius: 7px;
  transform: translateY(-50%);
  transition: background-color 0.3s;
}

.switchInput:checked + .switchSlider {
  background-color: #90caf9;
}

.switchInput:checked + .switchSlider::before {
  transform: translate(17px, -50%);
  background-color: var(--default-background-color);
}

/* props Checked */
.switchChecked .switchSlider {
  opacity: 0.3;
}
.switchChecked .switchSlider::before {
  background-color: var(--default-background-color);
  box-shadow: none;
}

.switchSlider::before {
  content: '';
  position: absolute;
  height: 22px;
  width: 22px;
  left: 0;
  top: 50%;
  transform: translate(3px, -50%);
  background-color: #fff;
  border-radius: 50%;
  transition:
    transform 0.3s,
    background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.switchDisabled .switchSlider {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
.switchDisabled .switchSlider::before {
  background-color: #bdbdbd;
  box-shadow: none;
}
