.checkbox-text {
  background: none;
  border: none;
}

.checkbox-contained {
  padding: 6px 10px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.05);
}

.checkbox-outlined {
  padding: 6px 10px;
  border: 1px solid currentColor;
  border-radius: 6px;
}
