.switch__input:checked + .switch__slider {
  background-color: #90caf9;
}
.switch__input:checked + .switch__slider::before {
  transform: translate(17px, -50%);
  background-color: #1976d2;
}

/* props Checked */
.switch.myChecked .switch__slider {
  opacity: 0.3;
}
.switch.myChecked .switch__slider::before {
  background-color: rgba(2, 162, 255, 0.932);
  box-shadow: none;
}
