.textfield-small input {
  font-size: 14px;
  padding: 12px 8px 4px 8px;
}
.textfield-medium input {
  font-size: 16px;
  padding: 16px 12px 8px 12px;
}
.textfield-large input {
  font-size: 18px;
  padding: 20px 14px 10px 14px;
}