.switch__slider::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 0;
  top: 50%;
  transform: translate(3px, -50%);
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
