.btn {
  font-family: Arial, sans-serif;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  background-color: rgba(2, 141, 255, 0.977);
  color: white;
}
